@model IqansAppsForCTS.Models.BookingNew

@{
    ViewBag.Title = "Book Now";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function() {
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        var hours = ("0" + now.getHours()).slice(-2);
        var minutes = ("0" + now.getMinutes()).slice(-2);
        var time = (hours) + ":" + (minutes);
        $('#StartDate').val(today);
        $('#StartDateTime').val(time);
        $('#EndDateTime').val(time);
    });
</script>

@if (TempData["Error"] != null)
{
    <script>
        alert("Booking timings are clashing with a meeting.@TempData["Error"]");
    </script>
    {
        TempData["Error"] = null;
    }
}

<h2>Book Now!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            @Html.LabelFor(model => model.EmpId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.EmpName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoomNumber, new List<SelectListItem> {
                       new SelectListItem { Value = "2C1" , Text = "2C1 - VC room" },
                       new SelectListItem { Value = "2C2" , Text = "2C2 - Meeting Room" }
                    },
                  new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" name="StartDate" id="StartDate" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Start Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="time" class="form-control" name="StartDateTime" id="StartDateTime" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("End Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="time" class="form-control" name="EndDateTime" id="EndDateTime" />
            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.BookingTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookingTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookingTime, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
