@model IEnumerable<IqansAppsForCTS.Models.MeetingRoom>

@{
    ViewBag.Title = "Index";
}

<h2>Meeting Room Manager</h2>

<p>
    <a class="btn btn-default" style="background-color: #b0c4de" href="@Url.Action("Create", "MeetingRoomManager")">Book room for your meeting <b>NOW!</b></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookingtime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bookingtime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", Model) <br/>
                @Html.ActionLink("Details", "Details", Model) <br/>
                @Html.ActionLink("Delete", "Delete", Model)
            </td>
        </tr>
    }

</table>


